*{
	margin: 0;
	padding: 0;
	transition: all .3s;
}
.show_head{
	display: none;
	position: fixed;
	width: 100%;
	height: 100px;
	background: rgb(109,193,243);
}
.show_head img{
	float: left;
}

.m-head{
	background: url(../img/bg.png) 50% 20% no-repeat;
	text-align: center;
	padding-bottom: 10px;
}
.m-head h4{
	color: white;
}

.showContent{
	padding-top: 106px;
	padding-left: 0;
	padding-right: 0;
}
#show_nav{
	position: fixed;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
	width: 100%;
	height: 40px;
	background: rgba(0,0,0,0.5);
	z-index: 1000;
}
hr{
	display: none;
}
ul{
	list-style: none;
}
.show_nav_btn{
	width: 25%;
	height: 40px;
	/*display: inline-block;*/
	float: left;
	text-decoration: none;
	color: #ffffff;
	text-align: center;
	font: "微软雅黑";
	font-size: 16px;
	padding-top: 8px;
	border-right:1px solid #666666;
}
.show_nav_btn:hover{
	background: #333333;
}
.show_nav_btn:hover > ul{
	display: block;
}
.show_nav_btn > ul:active{
	display: none;
}

.show_nav_2{
	padding-top: 10px;
	display: none;
}

.show_nav_2_btn{
	width: 100%;
	height: 30px;
	
	background: #5f6975;
	color: #dddddd;
	text-align: center;
	font: "微软雅黑";
	font-size: 12px;
	padding-top: 6px;

  	border-top: 1px solid #6b727c;
    border-bottom: 1px solid #575f6a;
}

.show_nav_2_btn:hover{
	/*background: rgba(50,50,50,.8);*/
	background: #444444;
	color: #ffffff;
    /*background: linear-gradient(bottom, #4f5964 0%, #5f6975 40%);
    background: -moz-linear-gradient(bottom, #4f5964 0%, #5f6975 40%);
    background: -webkit-linear-gradient(bottom, #4f5964 0%,#5f6975 40%);*/
	margin-left: 10px;
	/*transform: rotateX(360deg);*/
}

.show_search{
	position: absolute;
	top: 0;
	right: 0px;
	margin: 0;
	padding-top: 5px;
	padding-right: 50px;
	width: 50%;
	
	height: 40px;
	text-align:right;
	padding-left: 50px;
	
	/*background: #0072B5;*/
}
.show_search input{
	width: 40%;
	height: 30px;
	/*border: #31708F solid 1px;*/
	outline: none;
	padding-left: 10px;
	padding-right:10px;
	border: none;
	background: #ffffff;
}

.show_search input:checked{
	outline: thick solid #FF0000;;;
}
.show_search a img{
	margin-left: -10px;
	margin-top:-2px;
	width: 30px;
	height: 30px;
}
#show_search_change{
	display: inline-block;
	padding-top: 5px;
	margin-right: -10px;
	width: 100px;
	height:30px;
	background: #ffffff;
	color: #333333;
	z-index: 1000;
	text-align: left;
	padding-left: 10px;
	border-radius: 15px 0 0 15px;
}
#show_search_change_btn{
	position: absolute;
	/*left: -10px;*/
	margin-left: -12px;
	margin-top:2px;
}


.show_item{
	text-align: center;
	width: 90%;
	background: #FFFFFF;
	margin: 70px auto;
	margin-bottom:10px;
	padding-top: 20px;
}
#nothing{
	display: none;
}
.item{
	width:300px;
	background-color:white;
	padding:5px;
	margin:40px;
	display:inline-block;
	box-shadow:2px 2px 10px #cccccc;
}




@media only screen and (min-width: 100px) and (max-width: 768px) {
	.show_head{
		display: block;
	}
	.show_head_1{
		display: none;
	}
	
	.show_list{
		width: 30%;
	}
	#show_nav{
		height: 80px;
	}
	.show_nav_btn{
		font-size: 14px;
		width: 50%;
		margin-top: 40px;
		border-top: 1px solid #666666;
	}
	.show_search{
		text-align:center;
		padding: 0;
		padding-top: 5px;
		width: 100%;
	}
	.show_search input{
		width:50%;
	}
	hr{
		border: none;
		display: block;
		width: 100%;
		height: 1px;
		background: #ffffff;
		/*zoom: 1000;*/
	}
	#nothing{
		width: 80%;
	}
	.show_item{
		padding-top: 0px;
		margin-top:100px;
	}
	.item{
		margin: 20px 0;
		width: 100%;
	}
}
