*{
	margin: 0;
	padding: 0;
	transition: all .3s;
	text-align: center;
}

.head{
	background: url(../img/banner.jpg) 50% 50% no-repeat;
	width: 100%;
}
.head img{
	display: block;
	margin: 40px auto;
}
.head h4{
	text-align: center;
	color: #ffffff;
}
.head_left{
	float: left;
	width: 50%;
}

#returnToMain{
	cursor:pointer;
}

.btn-group{
	width: 100%;
}
.btn-group button{
	/*background-color: #000000;*/
	border-radius: 0;
}
.btn-group .head_right_item{
	float: left;
	width: 33.3333333333%;
	
}
.btn-group .head_right_item button{
	width:100%;
}
.head_right_item button {
	border-radius: 0;
}
.dropdown-menu{
	/*background-color: #eeeeee;*/
	width: 100%;
	/*min-width: 80px;*/
}
.dropdown li:hover{
	margin-left: 10px;
}
input{
	text-align: left;
}

.head_right{
	float: left;
	width: 50%;
}
















.showContent{
	padding-top: 106px;
	padding-left: 0;
	padding-right: 0;
}

.show_item{
	text-align: center;
	width: 90%;
	background: #FFFFFF;
	margin: 70px auto;
	margin-bottom:10px;
	padding-top: 10px;
	margin-top: 90px;
}
#nothing{
	display: none;
	text-align:center;
	color:#999999;
	margin-bottom: 30px;
}
.item{
	width:300px;
	background-color:white;
	padding:5px;
	margin:30px;
	display:inline-block;
	/*float: left;*/
	
	box-shadow:2px 2px 10px #cccccc;
}







@media only screen and (min-width: 100px) and (max-width: 768px) {
	.head img{
		margin: 10px auto;
	}
	.head_left,.head_right{
		width: 100%;
	}
}

@media only screen and (min-width: 100px) and (max-width: 880px) {
	*{
		/*font-size: 16px;*/
	}
	.item{
		width: 40%;
		margin: 30px 2%;
		margin-top: 10px;
	}
	.item p{
		display: none;
	}
	.item .item_name{
		display: block;
	}
}










